* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
    font-family: "Montserrat", sans-serif;
}

li, a, button, .logo {
	font-weight: 500;
	font-size: 16px;
    color: black;
	text-decoration: none;
}

#click {
	display: none;
}

header {
	position: absolute;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 30px;
	padding-bottom: 30px;
	padding-left: 10%;
	padding-right: 10%;
	width: 100vw;
    background-color: rgba(255, 255, 255, 0.5)
}

.nav_links {
	list-style: none;
}

.nav_links li {
	display: inline-block;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 20px;
	padding-right: 20px;
}

.nav_links li a {
	transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
	color: #0088A9;
}

button {
	padding-top: 9px;
	padding-bottom: 9px;
	padding-left: 25px;
	padding-right: 25px;
	background-color: rgba(0, 136, 169, 1);
    color: white;
	border: none;
	border-radius: 50px;
	cursor: pointer;
}

button:hover {
	background-color: rgba(0, 136, 169, 0.8);
}

.logo {
	font-size: 20px;
	font-weight: bold;
}

main {

}

#charity-table table{
	width: 80%;
	border: 1px solid;
}

#charity-table th{
	background-color: white;
}
#charity-table th, td{
	border-bottom: 1px solid;
}

#hero-section {
    padding: 30px;
    height: 100vh;
    background-color: #8BC6EC;
    background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
    flex-direction: column;
    flex: content;
    align-content: center;
}

#hero-section h1 {
    padding-bottom: 20px;
    font-size: 3rem;
}

.section {
    padding: 50px;
    height: 100vh;
}

.card-form-container {
	background-color: rgba(255, 255, 255, 0.8);
	border-radius: 15px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	padding: 30px;
	width: 400px;
	text-align: center;
	position: relative;
	left: 40%;	

	justify-content: center;
	background-color: #f0f0f0;
	margin: 0;
}
.card-form-container h2 {
	margin-bottom: 20px;
}
.card-form-container p {
	color: #555;
	margin-bottom: 20px;
}
.card-form-container input {
	width: 100%;
	padding: 10px;
	margin-bottom: 15px;
	border: 1px solid #ccc;
	border-radius: 5px;
	box-sizing: border-box;
}
.card-form-container button {
	background-color: #4CAF50;
	color: white;
	padding: 10px 15px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	width: 100%;
}
.card-form-container button:hover {
	background-color: #45a049;
}